---
export const prerender = false;

import Fire from "@/assets/fire.svg";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Report/Header.astro";
import SubjectProvider from "@/components/Report/Subject/SubjectProvider.astro";

import { actions } from "astro:actions";

const { period, id } = Astro.params;

if (!period || !id) {
  throw new Error("El periodo o la id del estudiante es invalida.");
}

const { data: student, error } = await Astro.callAction(actions.student.get, {
  id: parseInt(id),
});

if (error) {
  throw error;
}
---

<Layout class="max-w-full bg-white" transition:animate="fade">
  <Header
    name={student.name}
    course={student.course}
    period={parseInt(period)}
  />

  <!-- <div class="flex mb-3 items-center gap-3 text-3xl"> -->
  <!--   <div -->
  <!--     class="w-6 h-6 text-blue-600 rounded-lg flex items-center justify-center" -->
  <!--   > -->
  <!--     <Fire /> -->
  <!--   </div> -->
  <!--   <h2 class="text-xl font-semibold text-gray-900"> -->
  <!--     Calificaciones Detalladas -->
  <!--   </h2> -->
  <!-- </div> -->

  <section class="space-y-2">
    <SubjectProvider studentId={parseInt(id)} course={student.course} />
  </section>
</Layout>
